<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appender name="systemOut" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%-5level] [%-5thread] %logger{20} -%msg%n</pattern>
        </encoder>
        <append>true</append>
    </appender>
    <root level="info">
        <appender-ref ref="systemOut" />
    </root>
</configuration>